<form action="/golf_booking/payment_details" method="post">
{{ customer_settings.terms_conditions }}
{{ customer_settings.hallo }}
  <input type="hidden" name="accept" value="1" />
  <input type="submit" value="Accept" />
</form>
