{% assign common_version = 'v_001' %}
{% assign step = '5' -%}
<div id="confirmation" >
		{% include 'modules/tickets_visualnav' -%}
		
		<!-- h2>Confirmation page</h2 -->
		<div class="confirmation-wrapper clearfix">
					<div class="confirmation-details">
					
							{% include 'modules/tickets_feedback' -%}	
		
							<h3>Booking Receipt</h3>
		
							<p>Thank you for your booking, a confirmation email has been sent to your email address.</p>
							<blockquote>
								<p>Booking ref: #{{ booking.reference_number }}</p>
								<p>This booking is issued on {{ booking.date | format_date_to: 'eu' }} and is valid for 12 months from date of issue. </p>
								<p>Name: {{ customer.name }}</p>	
								<p>Email: {{ customer.email }} </p>	
							</blockquote>
		
							<div class="buttons clearfix">
								<button type="button"  value="Print" name="Print" class="button_print" onclick="window.print();">PRINT THIS PAGE</button>
							</div>
		
					</div>
					<!-- end BE-details -->

					<div class="confirmation-cart">
						<h3>Tickets Ordered</h3>
						{% include 'modules/tickets_cart' -%}
					</div>
					<!-- end confirmation-cart -->


		</div>
		<!-- end confirmation-wrapper -->

</div>
<!-- end confirmation -->