{% assign common_version = 'v_003' %}
{% assign step = 1 %}
<div id="search_tickets">
	{% include 'modules/tickets_visualnav' -%}
	{% include 'modules/tickets_feedback' -%}	
	{% include 'modules/tickets_search' -%}	
	<p>Please fill in the form above to check availability.</p>
</div>

