{% assign common_version = 'v_002' %}
{% assign step = 1 %}
<div id="search_tickets">
	{% include 'modules/tickets_visualnav' -%}
	{% include 'modules/tickets_feedback' -%}	
	<p>Please fill in the form above to check availability.</p>
</div>

