{% assign common_version = 'v_003' %}
{% assign step = 3 -%}
<div id="terms_and_conditions">
		{% include 'modules/tickets_visualnav' -%}
		{% include 'modules/tickets_feedback' -%}	
		
		<!-- h2>Found tickets</h2 -->

		<div class="terms-wrapper clearfix">
				<div class="terms-terms">
						<h2>Terms &amp; Conditions</h2>
						
						{{ customer_settings.terms_conditions }}
						{{ customer_settings.hallo }}
			
						<form action="/ticket_booking/payment_details" method="post">
							<fieldset>
							<input type="hidden" name="accept" value="1" />
							<div class="buttons clearfix">
								<button type="button"  value="Disagree" name="Disagree" class="button_disagree" onclick="location.href='{{ third_party.website }}'">I Disagree</button>
								<button type="submit"  value="Accept" name="button_agree" class="button_agree">I Agree</button>
							</div>
							</fieldset>
						</form>
			
				</div>
				<!-- end terms-terms -->
		
		
				<div class="terms-cart">
					<h3>Tickets Ordered</h3>
					{% include 'modules/tickets_cart' -%}
				</div>
				<!-- end terms-cart -->
		</div>

</div>



