/* FONTS  */
body 	{font: normal normal normal 80%/normal "Trebuchet MS", Arial, Verdana; }
h1 	{}
h2 	{}
h3 	{}
a 			{text-decoration:underline;}
a:hover 	{text-decoration:none;}
/* FONTS  */


/* LAYOUT  */
#pagewidth {margin:10px auto;text-align:left;}
#wrapper {background:transparent url("../images/website/wrapper_bg.png") repeat-y left top;}


#header {position:relative; height:400px; }
	#logo {position:absolute;top:15px;left:30px;width:150px;height:70px; z-index:20;background:transparent url("../images/website/logo.jpg") no-repeat center top;}
		#logo h1  {margin:0;padding:0;}
		#logo h1 a {text-indent:-9999em; display:block;width:150px;height:70px;font-size:3px;}
		
	#info {position:absolute; top:26px; right:10px; width:300px; text-align:left; font-size:0.9em;}
	#info p {margin:0; padding:0;}
	
	#navbar {position:absolute;top:410px; left:19px;width:180px;z-index:400; }
	#navbar ul {margin:0; padding:0;}
	#navbar ul li {margin:0; padding:0; list-style-type:none;white-space:nowrap; display:inline; float:left; line-height:25px;}
	#navbar ul li a {font-weight:bold; width:120px; margin:5px 0;padding:0 20px; display:block;text-decoration:none;}
	
	#banner {position:absolute;top:100px;left:0px;width:100%; height:300px;background:transparent url("../images/website/banner.jpg") no-repeat left top;}


#booking { padding-left:200px; }

#footer {padding-top:25px; padding-bottom:15px;  color:#666;overflow: hidden;width: 100%; font-size:0.9em;}
	#footer-a { float:left; width:60%; margin-left:20px;}
	#footer-b { float:right; width:25%; margin-right:20px;}

	#footer p {margin:0; padding:0;}
	
	#footer-a ul {margin:0; padding:0;}
	#footer-a ul li {margin:0; padding:0; border-left:1px solid #666; list-style-type:none;white-space:nowrap; display:inline; float:left; line-height:15px;}
	#footer-a ul li a {padding:0 10px; display:block;text-decoration:none; color:#557E32;}
	#footer-a ul li a:hover {text-decoration:underline;}
	#footer-a ul li.first {border-left:0;}
	#footer-a ul li.first a{padding-left:0}
	
	#footer-info { margin-top:10px;}
/* LAYOUT  */


	
	


/* COLOR CUSTOMIZATION */
body 			{background-color:#dceb8f; padding:20px 0;}
#pagewidth  {background-color:#ffffff;width:900px; border:1px solid #222}
#header		{background-color:#fff;}
#visualnav {background:transparent url("../images/visualnav_brown.png") no-repeat right top; }  
#visualnav ol{ background:transparent url("../images/visualnav_brown.png") no-repeat left bottom;}

#navbar ul li a { background-color:#d9eb6d; color:#557E32;border:1px solid #A0B437; }
#navbar ul li a:hover {color:#557E32; background-color:#fff;}
#footer		{background-color:#D9EB6D; border-top:1px solid #A0B437; color:#557E32}

#availability table.available th.roomtype{text-align:left; background-color:#daffae}
#availability table.available th { background-color:#6a8407; color:#fff;}
#availability table.available td.day-available { background-color:#96C3DD}
#availability table.available td.not-available { text-indent:-9999em; background:transparent url("../images/ico_not_available_green.png") no-repeat center;}
/* COLOR CUSTOMIZATION */


