<div id="availability">
{% assign step = '2' -%}
{% include 'modules/visualnav' -%}
{% include 'modules/feedback' -%}

{% for rate_search_drop in rate_search_drops %}  
	<h3>{{ rate_search_drop.property_name }}</h3>
	{{ rate_search_drop.property_short_description }}
	{% for rate in rate_search_drop.rates -%}
		{% include 'modules/availability' -%}
	{% endfor -%}
{% endfor %}

{% if selected_property.has_rates != true  %}
	<p>Sorry, no rates available for that date / hotel.</p>
{% else %}
	<h4>Legend</h4>
	<p class="legend"><img alt="Icon Not Available" src="{{ "images/ico_not_available_green.png" | asset_url }}" /> = No availability for the dates marked.</p>
{% endif %}
</div>