{% if step -%}
<div id="visualnav">
	<h3 class="hide">Booking steps</h3>
	<ol class="step{{ step }}">
		<li>{% if step == '1' -%}<strong>{% endif -%}Search{% if step == '1' -%}</strong>{% endif -%}</li>
		<li>{% if step == '2' -%}<strong>{% endif -%}Select Tickets{% if step == '2' -%}</strong>{% endif -%}</li>
		<li>{% if step == '3' -%}<strong>{% endif -%}Terms &amp; Conditions{% if step == '3' -%}</strong>{% endif -%}</li>
		<li>{% if step == '4' -%}<strong>{% endif -%}Complete Booking{% if step == '4' -%}</strong>{% endif -%}</li>
		<li>{% if step == '5' -%}<strong>{% endif -%}Confirmation{% if step == '5' -%}</strong>{% endif -%}</li>
	</ol>
</div>
{% endif -%}
