<h2 class="alt">Booking steps</h2>
<ol id="visualnav" class="step{{ step }}">
	<li>{% if step == '1' -%}<strong>{% endif -%}Search{% if step == '1' -%}</strong>{% endif -%}</li>
	<li>{% if step == '2' -%}<strong>{% endif -%}Room &amp; Rates{% if step == '2' -%}</strong>{% endif -%}</li>
	<li>{% if step == '3' -%}<strong>{% endif -%}Set Details{% if step == '3' -%}</strong>{% endif -%}</li>
	<li>{% if step == '4' -%}<strong>{% endif -%}Complete Booking{% if step == '4' -%}</strong>{% endif -%}</li>
	<li>{% if step == '5' -%}<strong>{% endif -%}Confirmation{% if step == '5' -%}</strong>{% endif -%}</li>
</ol>
