#confirmation .box {background-color:#eee; border:1px solid #ccc;}
/* changes */ 
#content {padding:20px 20px;}
#search { right:20px;}
#visualnav {background:transparent url("../images/visualnav.png") no-repeat right top; }  
#visualnav ol{ background:transparent url("../images/visualnav.png") no-repeat left bottom;}



/* SEARCH MODULE */
#search #arrival_date { width:65px;}
#search #searchbutton {background:url(../images/butt_checkavailability.png) 0 0 no-repeat;width:130px;height:26px;border:0;cursor:pointer; text-indent:-5000em; display:block;}




/* --------------------------- INDEX ------------------------------- */
#index {padding-top:80px;}




/* AVAILABILITY */
#availability h3 {margin-bottom:0;}
#availability .rate_image {margin:10px 0;}
#availability table.available{border-collapse:collapse;width:100%;margin-bottom:3em;}
#availability table.available th.ratename{width:28%;text-align:left}
#availability table.available th.roomtype{text-align:left; background-color:#daffae}
#availability table.available td,
#availability table.available th {text-align:center; border:1px solid #ccc;}
#availability table.available th { background-color:#6a8407; color:#fff;}
#availability table.available td a,
#availability table.available td .no-book{ display:block; width:55px;height:25px;}
#availability table.available td a.book{ background-image:url("../images/butt_book.png");}
#availability table.available td.butt-book{ border:0;}
#availability table.available td.day-available { background-color:#96C3DD}
#availability table.available td.not-available { text-indent:-9999em; background:transparent url("../images/ico_not_available.png") no-repeat center;}
#availability table.available tr.room-desc td{padding:0;border-bottom:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #ccc;border-left:1px solid #ccc;}
#availability table.available tr.room-desc .long-desc {border-bottom:1px solid #ccc;}
#availability table.available tr.room-desc td.butt-book {border-right:0px solid #fff;}
#availability .long_desc { padding:0.5em;text-align:left; border-bottom:1px solid #ccc;}
#availability .long_desc .long_image {float:left; padding:0 1em 0.5em 0;}
#availability .long_desc .long_image a { display:inline;}
#availability .long_desc .long_description {float:right; width:83%}
#availability p.legend  img { display:inline; vertical-align:middle; } 


/* ----------------------- OCCUPANCY --------------------------- */

#occupancy {padding-top:60px;}
#occupancy h2 {margin-bottom:5px; color:#333;}
#occupancy .occupancy-summary { font-size:1.1em;padding:.8em;margin-bottom:1.5em;border:2px solid #ddd;background:#FBE3E4;color:#111;border-color:#FBC2C4;}

#occupancy .box {background-color:#f1f1f1; position:relative; margin-bottom:20px; padding:15px 10px 15px 10px;border:1px solid #ccc }
#occupancy .box h3 { margin-top:0;font-size:1.2em; display:inline;  padding-right:10px;}
#occupancy .box p {float:left;margin-bottom:0.8em;}
#occupancy .box label {width:auto;padding-top:4px;}
#occupancy .box select {width:55px;margin-left:5px; margin-right:10px;}
#occupancy .box fieldset {padding:0; margin-bottom:0;}
#occupancy .box p.roomprice {clear:left; float:none;}
#occupancy .box p.title{font-weight:bold;}
#occupancy .box p.title,
#occupancy .box p.roomprice strong { width:90px; float:left; display:block; }
#occupancy .box p.roomprice span { }
#occupancy .box fieldset span{ float:left;}
#occupancy .box fieldset p{ margin-right:20px;}
#occupancy .box img.adult-image { float:left;}
#occupancy .box img.child-image { float:left;}

#occupancy .loading-room { color:#8a1f11;display:inline; padding: 0 0 0 25px; width:230px; height:30px;font-weight:bold;float:none; margin:0;  background:url("../images/ajax-loader_16x16.gif") no-repeat left 1px;}/* dont use bottom for IE6*/
#occupancy .occupancy-title { padding-bottom:10px;}
#occupancy p#occupancy-total {font-size:1.3em;margin-left:86%; margin-top:10px;text-align:right;width:120px;}

#occupancy .room-actions { position:absolute; top:8px; right:10px;margin-bottom:2px; font-size:0.9em; text-align:right;}
#occupancy .room-actions a {}
#occupancy .room-actions a.rem_room {margin-left:10px;}
#occupancy .buttons { text-align:right;}
#occupancy .buttons a{background-image:url("../images/butt_proceed.png");width:200px;height:30px;display:block;margin:0 0 0 auto;}

/*
#occupancy .occupancy-checkin,
#occupancy .box { padding:20px 10px; }
#occupancy .occupancy-checkin {background-color:#eee;}
#occupancy .occupancy-checkin p {margin:0;}
#occupancy .room-actions a.add_room{background-image:url("../images/ico_add.png"); }
#occupancy .room-actions a.new_search{background-image:url("../images/ico_add.png"); }
#occupancy .room-actions a.add_room,
#occupancy .room-actions a.new_search { behavior: url("/iepngfix.htc") }
*/




/* CHECKOUT */
#checkout {padding-top:20px;}
#checkout #visualnav { top:0;}
#checkout .box { background-color:#eee; border:1px solid #ccc;}
#checkout .box p { margin-bottom:0.5em;}
#checkout fieldset {border:1px solid #ccc;	background:#eee;}
#checkout legend {background:#eee; color:#111;border:1px solid #ccc;}



/* ----------------------- CONFIRMATION --------------------------- */
#confirmation {padding-top:10px;}
#confirmation #visualnav { top:0;}
#confirmation h2 {margin-bottom:5px;}
#confirmation .box {padding:20px 20px 5px 20px; margin-bottom:20px;}
#confirmation .box p strong {width:180px; float:left; display:block; }
#confirmation .box {background-color:#eee; border:1px solid #ccc;}
#confirmation .buttons {text-align:center;}
#confirmation #print {margin:0 auto; background:url("../images/butt_print.png") 0 0 no-repeat;width:104px;height:30px;border:0;cursor:pointer; text-indent:-5000em; display:block;}





