 
#content {padding:20px 20px;}
#visualnav {right:15px;top:40px;width:580px;}
#visualnav {background:transparent url("../images/visualnav_events.png") no-repeat right top; }  
#visualnav ol{background:transparent url("../images/visualnav_events.png") no-repeat right bottom;}



/* SEARCH MODULE */
#search { right:17px;}
#search #arrival_date { width:65px;}
#search #searchtickets {margin:0 auto; background:url("../images/butt_searchtickets.png") 0 0 no-repeat;width:121px;height:26px;border:0;cursor:pointer; text-indent:-5000em; display:block;}



/* DIDNT FIND TICKET */
#didnt_found_tickets {padding-top:40px;}

#didnt_found_tickets .didnt-found-wrapper { padding:20px;}
#didnt_found_tickets h2 { font-size:1.4em;}
#didnt_found_tickets h3 { font-size:1.2em;}
#didnt_found_tickets #nav_menu { width:300px; margin:0 auto; }
#didnt_found_tickets #nav_menu_aux div { display:inline; margin:0 15px;}
#didnt_found_tickets #event_calendar_wrapper { text-align:center;}
#didnt_found_tickets table#calendar_overview { width:500px; margin:10px auto}
#didnt_found_tickets table#calendar_overview th,
#didnt_found_tickets table#calendar_overview td { vertical-align:top; padding:13px 3px 8px 3px; border-bottom:1px solid #DDDDDD;border-left:1px solid #DDDDDD;}
#didnt_found_tickets table#calendar_overview th {width:14%; background-color:#4273a6; color:#fff; padding:8px 3px;}
#didnt_found_tickets table#calendar_overview {border-right:1px solid #DDDDDD;}
#didnt_found_tickets table#calendar_overview td.weekendDay { background-color:#eee}
#didnt_found_tickets table#calendar_overview td a.ticket_available {display:block;font-weight:bold;margin-top:3px;text-decoration:underline;}


/* FOUND TICKET */
#found_tickets {padding-top:50px;}
#found_tickets .found-image { width:28%; float:left}
#found_tickets .found-text{ width:71.5%; float:left}

#found_tickets .found-item { background-color:#f00; border:1px solid #96c3dd;float:left;margin:5px 10px 5px 0;padding:15px 15px;width:42%;}
#found_tickets .found-item span { float:left;}
#found_tickets .found-item select { float:right;}
#found_tickets #totalcost {font-size:1.4em;padding:10px 20px 0 0;}
#found_tickets .buttons {margin-top:20px}



/* TERMS AND CONDITIONS */
#terms_and_conditions  {padding-top:40px;}
#terms_and_conditions .terms-terms { width:72%; float:left; margin-right:3%}
#terms_and_conditions .terms-cart { width:25%; float:left}
#terms_and_conditions table td,
#terms_and_conditions table th { border:0px;}
#terms_and_conditions h2 { margin-top:0;}


