


/* FONTS  */
body {font: normal normal normal 80%/normal "Trebuchet MS", Arial, Verdana; }
h1 {}
h2 {}
h3 {}
a 	{text-decoration:underline;}
a:hover 	{ text-decoration:none;}
/* FONTS  */

/* png24 works on line only. I deleted black.gif from images folder. 
#wrapped { behavior: url("/iepngfix.htc") }
*/
#pagewidth {background-color:#FFFFFF;margin:0 auto;width:960px;padding-bottom:30px; }
#wrapped { background:transparent url("../images/website/pagewidth_bg.png") repeat-y left top;padding:0 5px;}



#green-bar {position:absolute; top:100px; left:0; width:100%;background:transparent url("../images/website/bar_bg.jpg") no-repeat left top;  height:95px;}
#text-info {position:absolute; top:37px; text-indent:-5000em;right:30px; height:40px; width:150px;background:transparent url("../images/website/text_standardskin.png") no-repeat right center; }

html {margin:0;padding:0;}
body {margin:0;padding:0;}

/* CUSTOM  */
body { background-color:#fff}


#header { position:relative; height:200px;}
#logo {position:absolute;z-index:20;top:15px; left:28px;width:149px;height:68px;background:transparent url("../images/website/logo.jpg") no-repeat center top;}
	#logo h1  {margin:0;padding:0;}
	#logo h1 a {text-indent:-9000em; display:block;width:149px;height:68px;font-size:3px;}
/* CUSTOM  */

#footer {padding-top:25px; padding-bottom:15px; text-align:center; color:#666;  background:transparent url("../images/website/footer_bg.png") no-repeat left bottom;}
#footer p {margin:0; font-size:0.9em;}

