/* changes */ 
#content {padding:20px 20px;}
#search { right:20px;}
#visualnav ol{ background-position:30px top;}



/* SEARCH MODULE */
#search #arrival_date { width:65px;}
#search #searchbutton {background:url(../images/butt_checkavailability.png) 0 0 no-repeat;width:130px;height:26px;border:0;cursor:pointer; text-indent:-5000em; display:block;}


/* modalbox vertically centered 
*/
#MB_window {top:125px;} /* to center modalbox: remove the title and put this 2 line  */
#MB_content {border-top: 0;}



/* AVAILABILITY */
#availability .long_desc { padding:0.5em;text-align:left;}
#availability .long_desc img {float:left; padding:0 0.5em 0.5em 0;}



/* OCCUPANCY */


/* CHECKOUT */
#checkout .box { background-color:#eee; border:1px solid #ccc;}
#checkout fieldset {border:1px solid #ccc;	background:#eee;}
#checkout legend {background:#eee; color:#111;border:1px solid #ccc;}


/* CONFIRMATION */
#confirmation .box {background-color:#eee; border:1px solid #ccc;}


/* EX VALIDATION.css */
input.validation-failed {background-color:#ff6666;}
input.validation-passed {} /* impossible to use that!
								background:transparent ('/skin/images/ico_ok.png') no-repeat 0 0;
								padding-right:30px;
							*/
#checkout .validation-advice {color:#f00;float:left;margin-left:5px;line-height:23px;
background:transparent url(../images/ico_error.png) no-repeat scroll 0 center;
padding-left:22px;}
#checkout input#terms_conditions.validation-failed {border:5px solid #ff6666; outline:5px solid #ff6666}
#checkout #advice-required-terms_conditions {text-indent:-5000em; display:none;}

/* EX GLOBALFUNCTION.css */
.focusonelement {background-color: #FFF7C0;}


/* FEEDBACK */
.flash-error, .flash-warning, .flash-notice {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.flash-error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.flash-warning {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.flash-notice {background:#E6EFC2;color:#264409;border-color:#C6D880;}