/* changes */ 

#content {padding:20px 20px;}
#search { right:20px;}
td.go-right,
th.go-right { text-align:right;}
#visualnav ol{ background-position:30px top;}



.feedback-error { background: #59191A; color: #ffffff; font-weight: bold;}
.feedback-warning { background: #5555aa; color: #ffffff; font-weight: bold;}
.feedback-notice { background: #55aa55; color: #ffffff; font-weight: bold;}


/* SEARCH MODULE */
#search #booking_date { width:65px;}
#search #searchbutton {width:130px;height:26px;border:0;cursor:pointer; text-indent:-5000em; display:block;}

/* modalbox vertically centered  */
#MB_window {top:125px;} /* to center modalbox: remove the title and put this 2 line  */
#MB_content {border-top: 0;}


/* CART MODULE */
table#BE-resume th, table#BE-resume td {border:0px; border-bottom:1px solid #ccc;}
	   

/* SEARCH TICKET */
#search_tickets {padding-top:50px;}


/* FOUND TICKET */
#found_tickets {padding-top:50px;}


/* TERMS AND CONDITIONS */
#terms_tickets {padding-top:50px;}
#terms_tickets .BE-left { float:left; width:650px}
#terms_tickets .BE-right { float:left;width:260px; margin-top:25px;}
#terms_tickets .buttons { margin-top:25px;}


/* CHECKOUT */
#checkout {padding-top:10px;}
#checkout .BE-left { float:left; width:630px; margin-right:20px;}
#checkout .BE-right { float:left; width:260px;}
#checkout .box { background-color:#eee; border:1px solid #ccc;}
#checkout fieldset {border:1px solid #ccc;	background:#eee;}
#checkout legend {background:#eee; color:#111;border:1px solid #ccc;}




/* CONFIRMATION */
#confirmation .box {background-color:#eee; border:1px solid #ccc;}











/* EX VALIDATION.css */
input.validation-failed {background-color:#ff6666;}
input.validation-passed {} /* impossible to use that!
								background:transparent ('/skin/images/ico_ok.png') no-repeat 0 0;
								padding-right:30px;
							*/
#checkout .validation-advice {color:#f00;float:left;margin-left:5px;line-height:23px;
background:transparent url(../images/ico_error.png) no-repeat scroll 0 center;
padding-left:22px;}
#checkout input#terms_conditions.validation-failed {border:5px solid #ff6666; outline:5px solid #ff6666}
#checkout #advice-required-terms_conditions {text-indent:-5000em; display:none;}

/* EX GLOBALFUNCTION.css */
.focusonelement {background-color: #FFF7C0;}

