{% assign step = '3' -%}
{% include 'modules/visualnav' -%}
{% include 'modules/feedback' -%}
  
<p><strong>Check in:</strong> {{ arrival_date }} - <strong>Nights:</strong> {{ nights }}</p>
<div id="rooms"> 
<a href="#" onclick="Modalbox.show('<div id=\'loadingbox\'><h3>Checking Availability</h3><p>Please wait...</p><img src=\'/skin/images/ajax-loader_small.gif\' /></div>', {width: 600,top: 125}); $('availability_search_form').submit();"  class="occupancy add_room">Add another room type</a>
{% include 'rooms_table' -%}
</div>

<p class="button"><a href="{{ html.checkout_action }}" id="proceed"><span class="alt">Proceed</span></a></p>


<script language="JavaScript">
	Ajax.Responders.register({
		onComplete: function() {
			new Effect.Highlight("occupancy-total");
		}
	}); 

</script>
