<div id="index">
	{% assign step = '1' -%}
	{% include 'modules/visualnav' -%}
	{% include 'modules/feedback' -%}
	<h2 class="hide">Check Availability</h2>
	<p>Please fill in the form above to check availability.</p>
</div>