<div id="index">
	{% assign step = '1' -%}
	{% include 'modules/visualnav' -%}
	{% include 'modules/feedback' -%}
	<h2 class="hide">Check Availability</h2>
	<p>Please fill in the form above to check availability.</p>
	<p>liquid-include: <img src="{{ "images/butt_book.png" | asset_url }}" /></p>
	
	<p>liquid-include: <img src="{{ "images/thumbnail.png" | asset_url }}" /></p>
	<p>{{ first_property_name }}</p>
</div>