<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>vz.Designer Setup</title>
		<link rel="stylesheet" href="/stylesheets/wizard.css" type="text/css" media="screen" title="Wizard" charset="utf-8" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js"></script>
		<script type="text/javascript" src="http://assets.visrez.com/roomsandevents/common/v_003/javascripts/validation.js"></script>
	</head>
	
	<body>

    <div id="wizard" style="text-align:center;margin: 70px auto; position: relative;">
      <h2>Create a new skin</h2>
      <p>Choose a name for your new skin and choose the existing one which should serve as a base.</p>
      
      <div style="width:300px;text-align:left;margin:0 auto;">
      <form action="create_theme" method="get" id="skin_form">
        <dl>
          <dt>
            <label for="name">Duplicate this skin</label>
          </dt>
          <dd>
            <select name="from" id="from" onchange="new Ajax.Updater('type', '/dashboard/get_available_template_types', { parameters: { from: $F('from') }});new Ajax.Updater('skin_description', '/dashboard/get_skin_info', { parameters: { from: $F('from') }});">
              <% @themes.each do |theme| %>
              	<option value="<%= theme %>"><%= theme %></option> 
              <% end %>        
            </select>
            </span>
          </dd>
        <dt><label for="type">set it's application type to</label></dt>
        <dd>
        	<select name="type" id="type">
          	<script type="text/javascript">
          		new Ajax.Updater('type', '/dashboard/get_available_template_types', { parameters: { from: $F('from') }});
          	</script>
          </select>    
      	</dd>
        <dt><label for="name">and name it this</label></dt>
        <dd><input type="text" name="to" value="" id="name" class="big required validate-alphanum" /></dd>
        
        <dd><input type="submit" value="Create &rarr;" /> or <a href="/dashboard/">go back</a>
      </dl>
      </form>
      </div>
      <div id="skin-information">
      	<h2>Source skin information</h2>
	    	<span id="skin_description">
	        <script type="text/javascript">
	      		new Ajax.Updater('skin_description', '/dashboard/get_skin_info', { parameters: { from: $F('from') }});
	      	</script>
	      </span>
  		</div>
    </div>
    
    <script type="text/javascript">
		  new Validation('skin_form', {immediate : true});
		</script>
        
</html>