<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>Vision Setup</title>
		<link rel="stylesheet" href="/stylesheets/wizard.css" type="text/css" media="screen" title="Wizard" charset="utf-8" />
	</head>
	
	<body>
    
    <div id="wizard" style="text-align:center;">
      <h2>Get your theme</h2>

      <form action="zip_theme" method="post">
      <dl>
        <dt><label for="name">Please give your new skin a name:</label></dt>
        <dd><input type="text" name="name" id="name" /></dd>
        <dt><label for="description">And a short description:</label></dt>
        <dd><textarea name="description" id="description" cols="40" rows="7"></textarea></dd>
        
        <dt>
          <input type="hidden" name="theme" value="<%= @theme %>" />
          <input type="submit" value="Download my theme" /> or go <a href="/dashboard/">Back</a>
        </dt>
        
      </dl>
      </form>
      <div id="skin-information">
				<h2>Information</h2>      	
				<p>Please include a thumbnail of your skin into the package. This will make it easier to find your skin once it's uploaded to the visrez system.</p>
				<p>To include a thumbnail, please put a screenshot of your skin named "thumbnail.png" into the "/images" folder of your skin.</p>
      </div>
        
    </div>
        
</html>





