<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>vz.Designer Dashboard (version <%= Vision.version %>)</title>
		<link rel="stylesheet" href="/stylesheets/wizard.css" type="text/css" media="screen" title="Wizard" charset="utf-8" />
	</head>
	
	<body>
    
    <div id="wizard" class="cfix">
      <h2>Welcome to vz.Designer</h2>
      <ul id="tasks" style="margin-top: 30px">
        <li>
          <h3>Create</h3>
          <p>Create a new skin to work on.</p>
          <a href="/dashboard/create">Create a new skin &raquo;</a>
        </li>
        <li>
          <h3>Modify</h3>
          <p>Choose an existing skin to work with.</p>
          <form method="get" action="/dashboard/choose">
            <select name="theme" onchange="this.parentNode.submit();">
              <option value="">---</option>
              <% @themes.each do |theme| %>
              <option value="<%= theme %>"><%= theme %></option> 
              <% end %>        
            </select>
          </form>
        </li>
        <li>
          <h3>Export</h3>
          <p>Package your skin for release.</p>
          <form action="/dashboard/export_theme" method="get">
            <select name="theme" onchange="this.parentNode.submit();">
              <option value="">---</option>
              <% @themes.each do |theme| %>
              <option value="<%= theme %>"><%= theme %></option>
              <% end %>
            </select>
          </form>
        </li>
        <li>
          <h3>Help and Information</h3>
          <p>Trouble finding something in vision? Look at these links.</p>
          <a href="http://sites.google.com/a/visrez.com/rooms-events/skins/vz-designer-vision/tutorial" target=_blank>Starting Tutorial</a> <br />
          <a href="http://sites.google.com/a/visrez.com/rooms-events/skins/templates" target=_blank>Template Information Database</a> <br />
          <a href="http://github.com/Domo/vz.designer/zipball/master"<%= ' class="getlatest"' unless Vision.uptodate? %>>Download the latest version</a> <br />
          <a href="/dashboard/common_assets">List of common assets</a>          
        </li>
      </ul>
    </div>
    <p>All skins are located at <em><%= File.expand_path(THEMES) %></em></p>
    
    <% unless Vision.uptodate? %>
    	<script type="text/javascript">
    		alert('You are using version <%= Vision.version %> of vz.Designer. The latest version is <%= Vision.latest_version %>. Please download it.');
    	</script>
    <% end %>
    
    </body>
</html>







